
/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* color palette */
:root {
  --cp-aphrodites-pearls: #edfdfe;
  --cp-water: #d2f7fb;
  --cp-freezy-breezy: #91e9f3;
  --cp-turkish-turquoise: #71e0ef;
  --cp-holiday-blue: #30c8e0;
  --cp-havasupai-falls: #15acc5;
  --cp-mediterranean-sea: #148aa6;
  --cp-billabong: #176f87;
  --cp-navy-teal: #1c5a6e;
  --cp-lazurite-blue: #1b4c5e;
  --cp-firmament-blue: #0c3140;

  --cs-cotton-ball: #f3f7fc;
  --cs-cotton-boll: #e5eef9;
  --cs-blue-booties: #c6dcf1;
  --cs-blue-shutters: #93c0e6;
  --cs-greek-sea: #71addc;
  --cs-king-triton: #3483c3;
  --cs-blues: #2568a4;  
  --cs-frank-blue: #1f5485;
  --cs-fish-net-blue: #1d476f;
  --cs-sir-edmund: #1d3d5d;
  --cs-cool-balaclavas-are-forever: #13273e;

  --ct-white: #ffffff;
  --ct-cold-wind: #e2e3e5;
  --ct-flat-aluminum: #c4c6cb;
  --ct-amethyst-haze: #9fa1a9;
  --ct-silver-surfer: #7b7c86;
  --ct-script-ink: #60626c;
  --ct-abbey: #4c4d55;
  --ct-volcanic-sand: #3f3f46;
  --ct-hawk-s-eye: #35353a;
  --ct-cod-grey: #2e2f33;
  --ct-aswad-black: #18181b;

  --cs-praxeti-white: #f5f9ec;
  --cs-plain-and-simple: #e9f2d5;
  --cs-lasting-thoughts: #d4e6b0;
  --cs-tart-apple: #b4d27c;
  --cs-chinese-money-plant: #9cc15a;
  --cs-mamba-green: #7ea63c;
  --cs-dirty-green: #61832d;
  --cs-twist-of-lime: #4b6526;
  --cs-bronze-tone: #3e5123;
  --cs-midnight-pines: #1a250e;
  --cs-aswad-black: #18181b;

  --cw-white-desert: #fbfaf1;
  --cw-bumble-baby: #f5f2df;
  --cw-shell-haven: #e9e1bf;
  --cw-bongo-skin: #dbcc96;
  --cw-dried-moss: #d2ba7c;
  --cw-fallow: #c19c4e;
  --cw-butterscotch-ripple: #b48842;
  --cw-half-orc-highlight: #956d39;
  --cw-cold-brew-coffee: #795833;
  --cw-dallas: #62492c;
  --cw-wetlands-swamp: #342416;

  --cd-abalone: #fbf5f5;
  --cd-fancy-pink: #f8e8e8;
  --cd-alyssum: #f2d6d6;
  --cd-wind-rose: #e8b9b9;
  --cd-coral-garden: #d27c7c;
  --cd-strawberry-wine: #c86b6b;
  --cd-fortune-red: #b25050;
  --cd-spicy-red: #954040;
  --cd-red-pear: #7c3838;
  --cd-dried-plum: #683434;
  --cd-rustic-red: #371818;

  --ci-grams-hair: #f4f6f7;
  --ci-genteel-lavender: #e2e7eb;
  --ci-fairfax-grey: #c8d2d9;
  --ci-peace: #a2b3be;
  --ci-china-clay: #748b9c;
  --ci-paynes-grey: #536878;
  --ci-trekking-blue: #4d5e6d;
  --ci-night-flight: #424f5c;
  --ci-nightshade: #3c454e;
  --ci-ferry: #353c44;
  --ci-black-pearl: #20262c;
}

/* semantic color variables */
:root {
  --color-primary-50: var(--cp-aphrodites-pearls);
  --color-primary-100: var(--cp-water);
  --color-primary-200: var(--cp-freezy-breezy);
  --color-primary-300: var(--cp-turkish-turquoise);
  --color-primary-400: var(--cp-holiday-blue);
  --color-primary-500: var(--cp-havasupai-falls);
  --color-primary-600: var(--cp-mediterranean-sea);
  --color-primary-700: var(--cp-billabong);
  --color-primary-800: var(--cp-navy-teal);
  --color-primary-900: var(--cp-lazurite-blue);
  --color-primary-950: var(--cp-firmament-blue);

  --color-secondary-50: var(--cs-cotton-ball);
  --color-secondary-100: var(--cs-cotton-boll);
  --color-secondary-200: var(--cs-blue-booties);
  --color-secondary-300: var(--cs-blue-shutters);
  --color-secondary-400: var(--cs-greek-sea);
  --color-secondary-500: var(--cs-king-triton);
  --color-secondary-600: var(--cs-blues);
  --color-secondary-700: var(--cs-frank-blue);
  --color-secondary-800: var(--cs-fish-net-blue);
  --color-secondary-900: var(--cs-sir-edmund);
  --color-secondary-950: var(--cs-royal-navy);

  --color-theme-50: var(--ct-white);
  --color-theme-100: var(--ct-cold-wind);
  --color-theme-200: var(--ct-flat-aluminum);
  --color-theme-300: var(--ct-amethyst-haze);
  --color-theme-400: var(--ct-silver-surfer);
  --color-theme-500: var(--ct-script-ink);
  --color-theme-600: var(--ct-abbey);
  --color-theme-700: var(--ct-volcanic-sand);
  --color-theme-800: var(--ct-hawk-s-eye);
  --color-theme-900: var(--ct-cod-grey);
  --color-theme-950: var(--ct-aswad-black);

  --color-success-50: var(--cs-praxeti-white);
  --color-success-100: var(--cs-plain-and-simple);
  --color-success-200: var(--cs-lasting-thoughts);
  --color-success-300: var(--cs-tart-apple);
  --color-success-400: var(--cs-chinese-money-plant);
  --color-success-500: var(--cs-mamba-green);
  --color-success-600: var(--cs-dirty-green);
  --color-success-700: var(--cs-twist-of-lime);
  --color-success-800: var(--cs-bronze-tone);
  --color-success-900: var(--cs-midnight-pines);
  --color-success-950: var(--ct-aswad-black);

  --color-warm-50: var(--cw-white-desert);
  --color-warm-100: var(--cw-bumble-baby);
  --color-warm-200: var(--cw-shell-haven);
  --color-warm-300: var(--cw-bongo-skin);
  --color-warm-400: var(--cw-dried-moss);
  --color-warm-500: var(--cw-fallow);
  --color-warm-600: var(--cw-butterscotch-ripple);
  --color-warm-700: var(--cw-half-orc-highlight);
  --color-warm-800: var(--cw-cold-brew-coffee);
  --color-warm-900: var(--cw-dallas);
  --color-warm-950: var(--cw-wetlands-swamp);

  --color-danger-50: var(--cd-abalone);
  --color-danger-100: var(--cd-fancy-pink);
  --color-danger-200: var(--cd-alyssum);
  --color-danger-300: var(--cd-wind-rose);
  --color-danger-400: var(--cd-coral-garden);
  --color-danger-500: var(--cd-strawberry-wine);
  --color-danger-600: var(--cd-fortune-red);
  --color-danger-700: var(--cd-spicy-red);
  --color-danger-800: var(--cd-red-pear);
  --color-danger-900: var(--cd-dried-plum);
  --color-danger-950: var(--cd-rustic-red);

  --color-info-50: var(--ci-grams-hair);
  --color-info-100: var(--ci-genteel-lavender);
  --color-info-200: var(--ci-fairfax-grey);
  --color-info-300: var(--ci-peace);
  --color-info-400: var(--ci-china-clay);
  --color-info-500: var(--ci-paynes-grey);
  --color-info-600: var(--ci-trekking-blue);
  --color-info-700: var(--ci-night-flight);
  --color-info-800: var(--ci-nightshade);
  --color-info-900: var(--ci-ferry);
  --color-info-950: var(--ci-black-pearl);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
